# Dependencias
node_modules/

# Compilación de Vite (Frontend)
dist/
dist-ssr/

# Compilación de Electron (El empaquetado final)
dist-electron/
out/
release/

# Archivos de entorno y claves (Seguridad)
.env
.env.local
.env.production
.env.development

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.sln
.DS_Store
Thumbs.db

# Temporales de Electron
*.opened